adabelief_pytorch==0.2.1
adabound==0.0.5
adan_pytorch==0.1.0
ale_py==0.11.1
datasets==3.6.0
dwave_networkx==0.8.18
gymnasium==1.1.1
ipython==8.12.3
keras==3.10.0
lion_pytorch==0.2.3
matplotlib==3.10.3
natsort==8.4.0
networkx==3.5
numpy==2.3.0
pandas==2.3.0
Pillow==7.0.0
Pillow==11.2.1
pulp==3.2.1
python_igraph==0.11.8
PyYAML==6.0.2
scikit_learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
stable_baselines3==2.6.0
tiktoken==0.9.0
torch==2.7.1
torch_geometric==2.6.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.52.4
tyro==0.9.24
wandb==0.20.1
